*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
main{
     background-image: url("../asserts/ChatGPT\ Image\ Dec\ 10\,\ 2025\,\ 07_28_21\ PM.png");
     background-size:cover;
     height: 100%;
    
     
     
}


article{
    border: solid 1px;
    height: 100%;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 10px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    
    .place{
        font-weight: bold;
    }
    .price{
        font-weight: 900 ;
        color: green;
    }
    img{
        width: 100%;
        height: 200px;
        border-radius: 20px;
    }
    
}
.container{
    /* gap: 2px; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
    
}
article button{
    background-color: rgb(218, 218, 126);
}
