.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1{
        color:navy;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 50px;

    }
}
main{
     background-image: url("../asserts/ChatGPT\ Image\ Dec\ 10\,\ 2025\,\ 07_28_21\ PM.png");
     background-size:cover;
     height: 100vh;
     
     
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 20px;
    height: 420px;
    /* border: solid 1px; */

    input{
        width: 100%;
    }
    button{
        width: 200px;
    }
    label{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }

}
