main{
     background-image: url("../asserts/ChatGPT\ Image\ Dec\ 10\,\ 2025\,\ 07_28_21\ PM.png");
     background-size:cover;
     height: 100vh;
     
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

article{
    border: solid 1px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 10px;
    background-color:beige;
    .bookingDate{
        font-weight: bold;
    }
    
    
}
.container{
    gap: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    
}
.cancel{
    background-color: navy;
    color: white;
    font-size: large;
    font-weight: 500;
    
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    
}
.ud{
    display: flex;
    justify-content: space-between;
     /* height: 140px; */
     border: none;
     background-color: transparent;
     padding: 2px;
     /* width: 250px; */
     button{
        width: 140px;
     }
}
